.father{
    display: flex;
    width: 50%;
    align-items: normal;
}
img{
    width: 100px;
    border-radius: 100px;
    height: 100px;
}
.first-car{
    background-color: orange;
    padding: 5%;
}
.second-car{
    background-color: rgb(21, 48, 201);
    padding: 5%;
}
button{
    align-self: center;
    border-radius: 10px;
    margin: 1px;
}